#!/usr/bin/env python3

PACKAGE = "static_obstacle_sector_tuner"
import rospkg
import yaml, os
from dynamic_reconfigure.parameter_generator_catkin import *

ros_path = rospkg.RosPack().get_path('static_obstacle_sector_tuner')
yaml_path = os.path.join(ros_path, 'cfg/static_obs_sectors.yaml') 

if os.path.isfile(yaml_path):
    with open(yaml_path) as file:
        sector_dict = yaml.load(file, Loader=yaml.FullLoader)

    gen = ParameterGenerator()
    gen.add("save_params", bool_t, 1, "Save params", False)

    sectors = {k: v for k, v in sector_dict.items() if k.startswith('Static_Obs_sector')}

    # Generate flags for yes/no static_obs sector
    i=0
    for key, item in sectors.items():
        #name, paramtype, level, description, default, min, max
        # Use .get() for safety in case the key doesn't exist in the yaml file.
        default_flag = item.get('static_obs_section', False)
        gen.add("Static_Obs_sector"+ str(i), bool_t, 1, "Static Obs in Sector{}".format(i), default_flag)
        i += 1
else:
    # This block runs if the yaml file doesn't exist.
    gen = ParameterGenerator()

    gen.add("Static_Obs_sector"+ str(0), bool_t, 1, "Static Obs in Sector0", False)

exit(gen.generate(PACKAGE, "static_obs_dynamic_sector", "static_obs_dyn_sect_tuner"))