#!/usr/bin/env python3
PACKAGE = "controller"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("record",    bool_t,    0, "Start/stop bag recording", False)
gen.add("train",     bool_t,    0, "Train GP from recorded bag (auto-resets)", False)

exit(gen.generate(PACKAGE, "gp_manager", "gp_manager"))
