<!-- -*- mode: XML -*- -->
<launch>
  <!-- launches the state estimation nodes using GLIL -->
  <!-- PARAMS -->
  <arg name="racecar_version" default="$(env CAR_NAME)" doc="Physical racecar used. Possible values: UNICORNx" />
  <arg name="map" default="hangar" />
  <arg name="use_vesc_imu" default="False" doc="whether use built-in vesc imu or microstrain" />

  <!-- LAUNCH GLIL Localization -->
  <include file="$(find glim_ros)/launch/glil_cpu.launch">
    <arg name="rviz" value="false"/>
  </include>

  <!-- Launch map server with regular map name -->
  <node pkg="map_server" name="map_server" type="map_server"
    args="$(find stack_master)/maps/$(arg map)/$(arg map).yaml">
  </node>

  <!-- start Car State Node -->
  <node name="extract_pose" pkg="stack_master" type="extract_pose_from_odom.py" output="screen">
      <param name="in_topic" value="glim_ros/imu_odom" />
      <param name="out_topic" value="car_state/pose" />
  </node>

</launch>
