#!/usr/bin/env python3
PACKAGE = "friction_sector_tuner"
import rospkg
import yaml, os
from dynamic_reconfigure.parameter_generator_catkin import *

# Read from package cfg first (copied by switch_map.sh), fallback to map folder
yaml_path = os.path.join(rospkg.RosPack().get_path('friction_sector_tuner'), 'cfg/friction_scaling.yaml')

if os.path.isfile(yaml_path):
    with open(yaml_path) as file:
        sector_dict = yaml.load(file, Loader=yaml.FullLoader)

    gen = ParameterGenerator()
    gen.add("save_params", bool_t, 1, "Save params", False)
    gen.add("load_yaml", bool_t, 1, "Reload from yaml", False)
    gen.add("global_friction_limit", double_t, 0, "Max friction limit (clamp)", sector_dict.get('global_friction_limit', 1.0), 0, 2)

    only_sectors = {k: v for k, v in sector_dict.items() if k.startswith('Sector')}
    i = 0
    for key, item in only_sectors.items():
        gen.add("Sector" + str(i), double_t, 0,
                "Friction scaling from s: {} - {} [m]".format(item['start'], item['end']),
                item['friction'], 0, 2)
        i += 1
else:
    gen = ParameterGenerator()
    gen.add("save_params", bool_t, 1, "Save params", False)
    gen.add("load_yaml", bool_t, 1, "Reload from yaml", False)
    gen.add("global_friction_limit", double_t, 0, "Max friction limit (clamp)", 1.0, 0, 2)
    gen.add("Sector0", double_t, 0, "Sector friction", 1.0, 0, 2)

exit(gen.generate(PACKAGE, "friction_sector", "dyn_sect_tuner"))
